LAB Assignment 4: EDA Assignment 

Due Date: 18-09-2022

Student Name: 

Roll No :

Task 1: Import and Explore the dataset. ( https://drive.google.com/file/d/1QZ4q7K3jwajWVrFp-QY_UX_y19J3xAzH/view?usp=sharing )
- Checking Data Types
- Display dataset features and summary

Task 2: Drop the Irrelevant Columns and Rows

Task 3: 
Handle missing data in Monthly_Inhand_Salary
- Handle missing data in Type_of_Loan
- Handle missing data in Num_Credit_Inquiries

Task 4: Replace the Invalid Values

Task 5: Drop the missing or NULLs and NaNs

Task 6: Detect the Outliers and split dataframe to outliers and clean then analyze outliers dataframe.

##* Task 7: Plot the distribution of data in target feature(credit score)

Task 8: Assign proper datatypes
- Typecast the Age feature to int
- Typecast the Num_of_Loan feature to int
- Convert numerical columns into float64

Task 9: For age column check for outliars and age can be max 100 so we will replace if there is any number greater than 100 with 0.

Task 10: Display Variance, Standard Deviation, Median and 1st & 3rd Quartiles for Outstanding_Debt (using box plot)